  body {
    padding-top:1%;
  }

  body, .container, div.white {
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
  }

    .container {
      z-index: -11;
      background: #f57921;
      width: 716px;
      overflow: hidden;
      height: 1008px;
    }

    div.white, div.white div {
      /* positioning */
      position: relative;

      /* dimension */
      width: 530px;
      height: 530px;
      -webkit-transform:rotate(45deg);
      -webkit-box-sizing:border-box;

      /* color */
      background-color: transparent;
      border: 20px solid #d9dfd1;
    }

      div.white div {
        position: relative;
        width: 80%;
        height: 80%;
      }

