  body {
    font-family: AkzidenzGrotesk;
    text-align: center;
  }

  .container {
    margin: 10px auto;
    position: relative;
    text-align: left;
    overflow: hidden;
    background: #f57921;
    width: 716px;
    height: 1008px;
  }

  .squares { margin: 110px auto 150px 170px; }
  .text { margin: 75px 0 0 20px; }
  .text h1 { font-size: 5em; }

  .squares div {
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    -webkit-transform:rotate(45deg);
    -webkit-box-sizing:border-box;

    /* dimension */
    width: 530px;
    height: 530px;
   
    /* color */
    background-color: transparent;
  }

  .squares div div { -webkit-transform:rotate(0deg); }
  .squares div div                      { height: 450px; width: 450px; }
  .squares div div div                  { height: 370px; width: 370px; }
  .squares div div div div              { height: 290px; width: 290px; }
  .squares div div div div div          { height: 210px; width: 210px; }
  .squares div div div div div div      { height: 130px; width: 130px; }
  .squares div div div div div div div  { 
    height: 50px;  width: 50px; 
  }

  .squares div.white div div div div div div  { background: #d9dfd1; }
  .squares div.blue div div div div div div  { background: rgba(-93, 138, 164, 0.75); }

  .white, .white div  { border: 20px solid #d9dfd1; }

  .blue {
    position: absolute;
    top: 110;
    z-index: 1;    
    margin-left: -100px;
  }

  .blue, .blue div    { border: 20px solid rgba(-93, 138, 164, 0.75); }



