  body {
    font-family: AkzidenzGrotesk;
    background: rgb(44, 44, 44);
    text-align: center;
    padding: 20px 0 80px 0;
  }

  .container {
    margin: 10px auto;
    position: relative;
    text-align: left;
    overflow: hidden;
    background: rgb(218, 224, 210);
    width: 716px;
    height: 1008px;
    overflow: hidden;
  }

  h1 { 
    font-size: 6.3em; 
    font-weight: normal; 
    margin: 75px 0 50px 20px;  
  }

  p { 
    float: left;
    text-align: left;
    font-size: 14px;
    width: 160px;
    margin: 0 0 0 20px; 
  }

  .squares { 
    margin-top: 294px; 
    float:left;
    width: 1000px;
  }

  .pink div:first-child {
    margin-left: -104px;
  }

  .pink div, div.yellow, .blue div {
    float: left;
    background-color: rgb(236, 0, 136);
    width: 163px;
    height: 163px;
    border-radius: 20px;
    margin: 4px;
  }

  .squares > div.yellow {
    background-color: rgb(248, 161, 19);
  }

  .squares.blue { 
    margin-top: -116px;
  }

  .blue div {
    background-color: rgba(-145, 107, 196, 0.8)
  }
